<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>Gazer</title>
    <link rel="preload" href="fonts/GazerSans-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/GazerSans-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/GazerSans-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
