@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
         url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@include font-face("Gazer Sans", "../fonts/GazerSans-Light", 300, normal);
@include font-face("Gazer Sans", "../fonts/GazerSans-Regular", 400, normal);
@include font-face("Gazer Sans", "../fonts/GazerSans-Bold", 700, normal);

